@import "tailwindcss";

@theme {
  --color-primary: #4898b2;
  --color-primary-light: #9be6ff;
  --color-bg-primary: #F7F4EA;
  --color-white: #fff;
  --color-danger: #F08787;
  --color-success: #8AA624;
  --color-black: #111;
  --color-gray: #717171;
  --color-border: #D7D7D7;
}