@import "tailwindcss";

@theme {
  --color-primary: #4898b2;
  --color-secondary: #60096a;
  --color-primary-light: #9be6ff;
  --color-bg-primary: #F7F4EA;
  --color-bg-secondary: #fafafa;
  --color-white: #fff;
  --color-danger: #fd1d1d;
  --color-success: #8AA624;
  --color-black: #111;
  --color-gray: #717171;
  --color-border: #D7D7D7;
  --color-input-border: #dadada;
  --color-shade-yellow: rgb(255, 241, 209);
  --color-shade-blue: rgb(217, 237, 247);
  --color-shade-gray: rgb(240, 240, 240);
  --color-input-boxshadow: inset 3px 3px 4px 1px rgba(0, 0, 0, .04);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-black);
  margin: 0;
  padding: 0;
}

.light-border {
  border: 1px solid hsla(0, 0%, 62%, .15);
}

.light-border-b {
  border-bottom: 1px solid hsla(0, 0%, 62%, .15);
}